.container{
	background: #454143;
	width: 100%; 
	height: 40%;
}
.primero{
	text-align: center;
}
.segundo{
	text-align:center;

.tercero{
	text-align: center;
}
.cuarto{
	text-align: center;
}